<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "Dashboard" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>2</h3>
              <p>Companies</p>
            </div>
            <div class="icon">
              <i class="fas fa-star"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/stargazers"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>3</h3>
              <p>Employees</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/graphs/contributors"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>60</h3>
              <p>Offices</p>
            </div>
            <div class="icon">
              <i class="fas fa-tools"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>60</h3>
              <p>Application Absent</p>
            </div>
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="cart mt-2">
      <div class="cart-body">
        <h4 class="card-title"></h4>
        <canvas
          baseChart
          [data]="salesData"
          [type]="'bar'"
          [options]="chartOptions"
        >
        </canvas>
      </div>
    </div>
  </section>
</div>
